<div class="paw-pet-item"> 
    <div class="paw-pet-item-header">Date: {{date}} {{time}} | Duration: {{duration}} minutes
        <button class="btn btn-sm btn-danger float-end" onclick="deleteExercise({{id}})">X</button>
    </div>
    <div class="paw-pet-item-content">{{description}}</div> 
</div>