<div class="paw-pet-item"> 
    <div class="paw-pet-item-header">{{date}} {{time}} : {{title}}
        <button class="btn btn-sm btn-danger float-end" onclick="deleteNote({{id}})">X</button>
    </div>
    <div class="paw-pet-item-content">{{description}}</div> 
</div>