<div class="paw-pet-card">
    <img src="./petimages/{{id}}.png" class="pet-img" alt="Profile Image">

    <div class="card-body">
        <h5 class="card-title"><a href="petprofile/{{id}}">{{name}}</a></h5>

        <p class="card-text">Pet Details: {{type}}, {{breed}}, {{gender}}</p>

        <p class="card-text">Lastest Vaccination: {{lastVaccine}}</p>

        <p class="card-text">Lastest Exercise: {{lastExercise}}</p>

        <p class="card-text">Next Appointment: {{nextAppt}}</p>
    </div>
</div>