<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
    {{!-- TODO: resize image --}}
    <img src="#" class="card-img-top" alt="logo">

    <div class="card-body">
        {{!-- TODO: link to the below information through petcard rename the following--}}
        <h5 class="card-title">{{petname}}</h5>

        <p class="card-text">Pet Description: {{vaccination}}</p>

        <p class="card-text">Lastest Vaccination: {{vaccination}}</p>

        <p class="card-text">Lastest Exercises: {{walks}}</p>

        <p class="card-text">Next Appointment: {{vetvisit}}</p>
    </div>
    </div>
</div>