<div class="paw-pet-card">
    <img src="./petimages/{{id}}.png" class="pet-img" alt="Profile Image">

    <div class="card-body">
        <h5 class="card-title"><a href="petprofile/{{id}}">{{name}}</a></h5>

        <p class="card-text"><span class="card-label">Pet Details:</span> {{type}}, {{breed}}, {{gender}}</p>

        <p class="card-text"><span class="card-label">Lastest Vaccination:</span> {{lastVaccination.details}}</p>

        <p class="card-text"><span class="card-label">Lastest Exercise:</span> {{lastExercise.description}}</p>

        <p class="card-text"><span class="card-label">Next Appointment:</span> {{nextAppointment.address}}</p> 
    </div>
</div>